<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Spring App</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="shortcut icon" type="image/png" href="/shortcut-icon.png" />
      <link rel="stylesheet" media="all" href="/pui-3.0.0/pivotal-ui.min.css" />
      <link rel="stylesheet" href="/font-mfizz-2.3.0/font-mfizz.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="/javascripts/ping.js"></script>
  </head>
  <body class="bg-neutral-11">
    <div class="container pan">
      <!-- header -->
      <h1> Hi This is Prashant ! And project is deployed. </h1>
      <section class="header">
        <div class='row man'>
          <div class='col-xs-24 col-sm-24 col-md-24 col-lg-24 mvxxl txt-c'>
            <a href='https://cloudfoundry.org' target="_blank">
              <img src="/images/the-rabbit.svg" width="52" class="txt-b" alt="Cloud Foundry" title="Cloud Foundry" />
            </a>
              <span class="h1 em-high txt-m mhl type-neutral-4">+</span>
            <a href='https://spring.io/' target="_blank">
              <img src="/images/spring_logo.png" width="46" class="txt-m" alt="Spring" title="Spring" />
            </a>
          </div>
        </div>
      </section>
      <!-- content -->
      <section class="content">
        <ul class="list-group">
          <!-- buildpack -->
          <li class="list-group-item pln">
            <div class="row man">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 phxl">
                <span class="h1 pan man icon-spring type-neutral-5" style="top: 4px; left: -1px; position: relative;"></span>
              </div>
              <div class="col-xs-12 col-sm-15 col-md-15 col-lg-15">
                <div class="type-neutral-4 small">
                  <div>BUILDPACK</div>
                </div>
                <div class="type-ellipsis">
                  Java/Spring
                </div>
              </div>
              <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6 ptl txt-r type-ellipsis">
                <a href='http://docs.cloudfoundry.org/buildpacks/' target='_blank' class='type-accent-4'>
                  <span class="small">Buildpacks</span><span class="fa fa-icon fa-external-link plm txt-m small"></span>
                </a>
              </div>
            </div>
          </li>
          <!-- app -->
          <li class="list-group-item pln">
            <div class="row man">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 phxl">
                <span class="h1 pan man fa fa-icon fa-play-circle type-neutral-5" style="left: 0px; position: relative;"></span>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="type-neutral-4 small">
                  <div class="type-ellipsis">APP NAME</div>
                </div>
                <div class="type-ellipsis" th:text="${cfapp['application_name'] != null} ? ${cfapp['application_name']} : '@application_name'"></div>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-10 col-lg-10">
                <div class="type-neutral-4 small">
                  <div class="type-ellipsis">APP URIS</div>
                </div>
                <div class="type-ellipsis" th:text="${cfapp['application_uris'] != null} ? ${#strings.listJoin(cfapp['application_uris'], ', ')} : '@app_uris'"></div>
              </div>
              <div class="col-xs-11 col-sm-11 col-md-6 col-lg-6 ptl txt-r type-ellipsis">
                <a href='https://docs.cloudfoundry.org/devguide/deploy-apps/routes-domains.html' target='_blank' class='type-accent-4'>
                  <span class="small">Routes &amp; Domains</span><span class="fa fa-icon fa-external-link plm txt-m small"></span>
                </a>
              </div>
            </div>
          </li>
          <!-- limits -->
          <li class="list-group-item pln">
            <div class="row man">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 phxl">
                <span class="h1 pan man fa fa-icon fa-dashboard type-neutral-5" style="left: -2px; position: relative;"></span>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="type-neutral-4 small">
                  <div class="type-ellipsis">INSTANCE INDEX</div>
                </div>
                <div class="type-ellipsis" th:text="${cfapp['instance_index'] != null} ? ${cfapp['instance_index']} : '@app_instance_index'"></div>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="type-neutral-4 small">
                  <div class="type-ellipsis">MEMORY LIMIT</div>
                </div>
                <div class="type-ellipsis" th:text="${cfapp['limits'] != null} ? ${cfapp['limits']['mem']} + M : '@application_mem_limits'"></div>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="type-neutral-4 small">
                  <div class="type-ellipsis">DISK LIMIT</div>
                </div>
                <div class="type-ellipsis" th:text="${cfapp['limits'] != null} ? ${cfapp['limits']['disk']} + M : '@application_disk_limits'"></div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ptl txt-r type-ellipsis">
                <a href='https://docs.cloudfoundry.org/devguide/deploy-apps/cf-scale.html' target='_blank' class='type-accent-4'>
                  <span class="small">Scaling</span><span class="fa fa-icon fa-external-link plm txt-m small"></span>
                </a>
              </div>
            </div>
          </li>
          <!-- space -->
          <li class="list-group-item pln">
            <div class="row man">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 phxl">
                <span class="h1 pan man fa fa-icon fa-bullseye type-neutral-5" style="left: 0px; position: relative;"></span>
              </div>
              <div class="col-xs-12 col-sm-15 col-md-15 col-lg-15">
                <div class="type-neutral-4 small">
                  <span class="type-ellipsis">SPACE NAME</span>
                </div>
                <div class="type-ellipsis" th:text="${cfapp['space_name'] != null} ? ${cfapp['space_name']} : '@app_space_name'">
                </div>
              </div>
              <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6 ptl txt-r type-ellipsis">
                <a href='https://docs.cloudfoundry.org/concepts/roles.html' target='_blank' class='type-accent-4'>
                  <span class="small txt-m">Orgs &amp; Spaces</span><span class="fa fa-icon fa-external-link plm txt-m small"></span>
                </a>
              </div>
            </div>
          </li>
          <!-- services -->
          <li class="list-group-item pln">
            <div class="row man">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 phxl">
                <span class="h1 pan man fa fa-icon fa-database type-neutral-5" style="left: 0px; position: relative;"></span>
              </div>
              <!-- service bound to the app -->
              <div th:if="${cfservicename != null}">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <div class="type-neutral-4 small">
                    <div class="type-ellipsis">SERVICE</div>
                  </div>
                  <div class="type-ellipsis" th:text="${cfservicename}"></div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <div class="type-neutral-4 small">
                    <div class="type-ellipsis">SERVICE NAME</div>
                  </div>
                  <div class="type-ellipsis" th:text="${cfservice['name']}"></div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <div class="type-neutral-4 small">
                    <div class="type-ellipsis">SERVICE PLAN</div>
                  </div>
                  <div class="type-ellipsis" th:text="${cfservice['plan']}"></div>
                </div>
              </div>
              <!-- no service bound to the app -->
              <div th:if="${cfservicename == null}">
                <div class="col-xs-12 col-sm-15 col-md-15 col-lg-15">
                  <div class="ptl type-ellipsis">There aren't any services bound to this app.</div>
                </div>
                <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6 ptl txt-r type-ellipsis">
                  <a href='http://docs.cloudfoundry.org/devguide/services/managing-services.html' target='_blank' class='type-accent-4'>
                    <span class="small">Manage Services</span><span class="fa fa-icon fa-external-link plm txt-m small"></span>
                  </a>
                </div>
              </div>
              <!-- service bound to the app -->
              <div th:if="${cfservicename != null}">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ptl txt-r type-ellipsis">
                  <a href='http://docs.cloudfoundry.org/buildpacks/java/spring-service-bindings.html' target='_blank' class='type-accent-4'>
                    <span class="small">Configuring Services</span><span class="fa fa-icon fa-external-link plm txt-m small"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <!-- footer -->
      <section class="footer">
        <div class="row mhn mvxxl txt-c">
          <a href="https://docs.cloudfoundry.org/devguide/" target="_blank">
            <img src="/images/cloud-foundry.svg" width="28" alt="Cloud Foundry" title="Cloud Foundry" />
            <br/>
            <span class="txt-c small type-neutral-4">
              This is a Cloud Foundry sample application.
            </span>
          </a>
          <div data-ping="ping" style="display:none;"></div>
        </div>
      </section>
    </div>
  </body>
</html>
